body{
    margin: 0;
    padding: 0;
    background-color: #748DAE;
}

header{
    background-color: #9ECAD6;
    height: auto;
    display: flex;
    padding: 1rem;
}

.header-left img{
    height: auto;
    width: 120px;
    padding: 12px 0 0 12px;
}

.header-right{
    padding:12px 12px 0 80%;
}

.header-right button{
    border-radius: 25px;
    width: auto;
    background-color:#F5CBCB;
    font-size: 24px;
}

.su-form{
    padding: 25px;
}

.su-form fieldset{
    border-color: aliceblue;
    border-radius: 25px;
    text-align: center;
}

input{
    padding: 5px;
    width: auto;
    margin:20px 0;
    border:1px solid black;
    border-radius: 10px;
}

.su-form h2{
    color: #340068;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
